# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Output folders
dist/
build/

# Playwright reports & results
playwright-report/
test-results/

# allure reports
allure-report/
allure-results/

# VSCode settings
.vscode/
.idea/

# Logs
*.log
logs/
debug.log

# Env files
.env
.env.*
!env.example

# TypeScript build cache
*.tsbuildinfo

# Coverage reports
coverage/

# Mac/Windows system files
.DS_Store
Thumbs.db
